[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/bgfx.cmake"]
	path = 3rdparty/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "3rdparty/assimp"]
	path = 3rdparty/assimp
	url = https://github.com/assimp/assimp
[submodule "3rdparty/SDL_mixer"]
	path = 3rdparty/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb
[submodule "3rdparty/imgui.cmake/imgui"]
	path = 3rdparty/imgui.cmake/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rdparty/stduuid"]
	path = 3rdparty/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "3rdparty/inja"]
	path = 3rdparty/inja
	url = https://github.com/pantor/inja
